
@font-face {
  font-family: 'AFKlampenborg';
  src: url('AFKlampenborg.eot?#iefix') format('embedded-opentype'),  url('AFKlampenborg.otf')  format('opentype'),
	     url('AFKlampenborg.woff') format('woff'), url('AFKlampenborg.ttf')  format('truetype'), url('AFKlampenborg.svg#AFKlampenborg') format('svg');
  font-weight: normal;
  font-style: normal;
}
