/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, c:/Ruby22/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 9, ../sass/screen.scss */
body {
  background: #ced8d8;
  background: -webkit-linear-gradient(#ced8d8, #fff);
  background: -o-linear-gradient(#ced8d8, #fff);
  background: -moz-linear-gradient(#ced8d8, #fff);
  background: linear-gradient(#ced8d8, #fff);
  background-repeat: no-repeat;
}

/* line 17, ../sass/screen.scss */
#conteiner {
  width: 776px;
  margin: 0 auto;
}

/* line 21, ../sass/screen.scss */
#head {
  width: 776px;
  margin: 0 auto;
  border-bottom: 1px solid #939598;
}

/* line 27, ../sass/screen.scss */
#log {
  background-color: #ffffff;
  float: right;
  width: 156px;
  border: 1px solid #ffffff;
  border-top: none;
  border-bottom-left-radius: 18px;
  border-bottom-right-radius: 18px;
  text-align: center;
  color: #959595;
  padding-top: 10px;
}
/* line 38, ../sass/screen.scss */
#log li {
  display: inline;
}

/* line 43, ../sass/screen.scss */
.reg {
  padding: 0 6px 0 8px;
  font: 400 12px/23px "Arial";
  color: #747474;
}
/* line 47, ../sass/screen.scss */
.reg:hover .show-reg {
  display: block;
}

/* line 51, ../sass/screen.scss */
.enter {
  font: 400 12px/23px "Arial";
  color: #747474;
}
/* line 54, ../sass/screen.scss */
.enter:hover .show-enter {
  display: block;
}

/* line 58, ../sass/screen.scss */
.show-reg {
  display: none;
  width: 428px;
  border-radius: 18px;
  background-color: #ffffff;
  float: right;
}
/* line 65, ../sass/screen.scss */
.show-reg input {
  border: 1px solid #d5f1fa;
  border-radius: 8px;
}
/* line 68, ../sass/screen.scss */
.show-reg input::-webkit-input-placeholder {
  font: 400 18px/63px "Arial";
  color: #81badc;
}
/* line 72, ../sass/screen.scss */
.show-reg input::-ms-input-placeholder {
  font: 400 18px/63px "Arial";
  color: #81badc;
}
/* line 76, ../sass/screen.scss */
.show-reg input::-moz-placeholder {
  color: #81badc;
}
/* line 77, ../sass/screen.scss */
.show-reg input::-moz-placeholder {
  color: #81badc;
}
/* line 79, ../sass/screen.scss */
.show-reg .left {
  background-color: #d5f1fa;
  float: left;
  margin: 10px 20px 4px 24px;
  padding: 10px;
}
/* line 85, ../sass/screen.scss */
.show-reg .right {
  font: 400 18px/36px "Arial";
  color: #ffffff;
  margin: 0px 20px 0 0;
  float: right;
  width: 64px;
  background-color: #00a8ff;
}
/* line 93, ../sass/screen.scss */
.show-reg .photo-holder {
  width: 132px;
  height: 153px;
  padding-top: 10px;
}
/* line 99, ../sass/screen.scss */
.show-reg .button {
  float: right;
  display: inline-block;
  text-align: center;
  font: 400 14px/33px "Arial";
  color: #00a8ff;
  border: 2px solid #00a8ff;
  border-radius: 10px;
  width: 132px;
  margin: 0 0 0 28px;
}

/* line 114, ../sass/screen.scss */
.show-enter {
  display: none;
  width: 428px;
  border-radius: 18px;
  background-color: #ffffff;
  float: right;
}
/* line 120, ../sass/screen.scss */
.show-enter input {
  border: 1px solid #d5f1fa;
  border-radius: 8px;
}
/* line 123, ../sass/screen.scss */
.show-enter input::-webkit-input-placeholder {
  padding: 2px 0 0 10px;
  font: 400 18px/63px "Arial";
  color: #81badc;
  background-color: #d5f1fa;
}
/* line 129, ../sass/screen.scss */
.show-enter input::-ms-input-placeholder {
  padding: 2px 0 0 10px;
  font: 400 18px/63px "Arial";
  color: #81badc;
  background-color: #d5f1fa;
}
/* line 136, ../sass/screen.scss */
.show-enter .left {
  background-color: #d5f1fa;
  float: left;
  margin: 10px 5px 10px 5px;
  padding: 10px 5px 10px 5px;
}
/* line 142, ../sass/screen.scss */
.show-enter .right {
  font: 400 18px/36px "Arial";
  margin: 8px 20px 14px 0;
  float: left;
  width: 64px;
  color: #ffffff;
  background-color: #00a8ff;
}
/* line 150, ../sass/screen.scss */
.show-enter .sign-in {
  padding: 10px;
}
/* line 153, ../sass/screen.scss */
.show-enter .sign-in li {
  display: inline;
}

/* line 160, ../sass/screen.scss */
.file_upload {
  display: block;
  margin: 8px 0 0 0;
  overflow: hidden;
  font: 400 16px/63px "Arial";
}
/* line 165, ../sass/screen.scss */
.file_upload .button {
  float: left;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  width: 8em;
  text-align: center;
}
/* line 172, ../sass/screen.scss */
.file_upload input[type=file] {
  top: 0;
  opacity: 0;
}

/* line 177, ../sass/screen.scss */
#logo {
  width: 300px;
  font: bold 21px/19px "AFKlampenborg";
  color: #939598;
  letter-spacing: 0.8px;
}
/* line 183, ../sass/screen.scss */
#logo h1 {
  float: left;
}
/* line 186, ../sass/screen.scss */
#logo img {
  float: left;
  margin: 40px 0px;
}
